.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.colorForm {
  width: 300px;
}

.colorForm label {
  display: none;
}

#colorName {
  width: 300px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
}